.section {

    height: 150px;
    width: 70%;
    border: 3px solid black;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.footer{
 width: 100%;
 border: 3px solid black;
 height: 50px;
}